.allgoose{
	width:100%;
	.item{
		width:50%;
		float:left;
		height: 2.4rem;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		img{
		height: 1.8rem;
		width: 100%;

		}
		.goodsname{
			color:#000;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: .4rem;
		width:45%;
		text-align: center;
		line-height: .4rem;
		}
		.goodsprice{
			color:red;
		}
		
	}
}