li{
	list-style:none;
}
.hot-sale{
	border-top:1px solid #ccc;
	.hot-title{
		height: .6rem;
		line-height: .7rem;
		background: #fff;
		border-top:1px solid #ccc;
	}
	.shop-content1{
		width:800%;
	}
	.shop-content2{
		width:1100%;
	}
	.shop-content3{
		width:1300%;
	}
	.shop-content4{
		width:1600%;
	}
	.shop-content5{
		width:500%;
	}
	.scroller{
			
			background: #fff;
			@include flexbox;
			@include flex-direction;
			.item{
				@include flex;
				height: 1.65rem;
				margin-right: .1rem;
				&:last-child{
					margin-right:0;
				};
				img{
					width:1rem;
					height: 1rem;
					
				}
				.match_name{	
					width:.8rem;
				text-align:center;
					text-overflow: ellipsis;
					white-space:nowrap;
					overflow: hidden;
					margin: .1rem 0;
				}
				.match_price{
					color:red;
				text-indent: 1em;

				}
			}
		
	}
}