@import "../lib/fragment/yo-header";
@import "../lib/fragment/yo-carousel";
.shop-match{
	margin-top:.2rem;
	background: #fff;
	padding-bottom: .2rem;
	.item{
		height: 2rem;

		img{
			height: 100%;
		}
	}
}
@include yo-header($name:recommend,$color:#000,$bgcolor:#fff,$border-width: 0,$height:.7rem){

	.affirm{
		color:#000;
	}

}