.shop-search{
	height: 100%;
	.regret{
		img{
			height: .4rem;
		}
	}
	.tabb{
		height: .5rem;
		width:100%;
		.classify{
			float:left;
			margin-left: .6rem;
			width:.8rem;
			line-height: .5rem;font-size:.2rem;
			text-align: center;
		}
		.brand{
			float:right;
			width:.8rem;
			margin-right: .6rem;
			line-height: .5rem;font-size:.2rem;
		}
	}
}
.searchlistbox{
	height: 100%;

	
	.items{
		width:100%;
		
		height: 100%;
		

	}
	.item{
		background: #eee;
		
	}
	.yo-multilist{
		height: 100%;
		background-color: #eee;
	}
	.yo-list > .item, .yo-list .front{
		padding:0;

		background: #eee;
		height: .6rem;
		line-height: .6rem;
		text-align: center;
		border:none;


	}
	.yo-multilist > .item:first-child .yo-list > .item{
		background: #eee;
	}
	.active_list{
		color:green;
	}
	.clearfix{
		.goods{
			float:left;
			width:33.3%;
			height: .8rem;
			margin:.1rem 0;
			text-align: center;
			color:#ccc;
			.lazy{
				width:.5rem;
				height: .5rem;
				margin-bottom: .1rem;

			}
			.goodsname{
				color:#ccc;
			}

		}
	}
	.leftmenu{
		text-align: center;
		width:100%;
	}

}