html,body{overflow:auto !important;}
.fl{
    float: left;
}
.fr{
    float: right;
}
.bugfix{
    position: fixed;
    top: -6.67rem;
    z-index: 6;
    width:100%;
    height:6.67rem;

}
.attr_list{
    @include flexbox();
    @include flex-direction(column);
    >header{
        font-size: 14px;
        font-family: "冬青黑体","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
        border-bottom: 1px solid #ccc !important;
        img{
            top:-0.5rem !important;
            left:0.3rem !important;
        }
        div:last-child{
            p{
                margin:0.16172rem 0 0.16938rem 0;
            }
            span{
                color: #c70909;
            }
            margin-bottom: 0.1425rem;
            margin-left:1.5125rem;
        }
    }
    .obj3,.obj4{
        padding-left: 0.25875rem;
    }
    .obj1,.obj2{
        padding-left: 0.25875rem;
        header{
            margin:0.12938rem 0;
        }
        span{
            &.active{
                border-color: #007846;
                color: #007846;
            }
            height: 0.31047rem;
            padding: 0 0.05175rem;
            border: 1px solid #666;
            margin-right: 0.15525rem;
            margin-bottom: 0.07763rem;
            border-radius: 0.03rem;
            text-align: center;
            line-height: 0.31047rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display:inline-block;
        }
    }
}
.yo-modal > .cont{
    z-index:100;
    overflow: visible !important;
}
span.choose_icon{
    display: inline-block;
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius:50%;
    background: url("/home_img/checked.png") no-repeat center center;
    background-size:contain;
}

span.undisplay_icon{
    display: inline-block;
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius:50%;
    background: url("/home_img/undisplay.png") no-repeat center center;
    background-size:contain;
}

span.unchoose_icon{
    display: inline-block;
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius:50%;
    background: url("/home_img/checknone.png") no-repeat center center;
    background-size: contain;
}

.hd_container{
    background:#fff;
    height:100%;
    .head_banner_container{
        position: relative;
    }
    .goback{
        position: absolute;
        top:0.1289rem;
        left:0.12rem;
        z-index:10;
        width:0.25781rem;
        height:0.28125rem;
        background:url("/home_img/goback.png") no-repeat;
        background-size: contain;
    }

    .home_detail_banner{
        width:100%;
    }

    .gapbar{
        height:0.1172rem;
        background:#eee;
    }

    .art_author{
        border-bottom: 0.01rem solid #ccc;
        height:1.07469rem;
        padding-left:0.1171rem;
        @include flexbox();
        .author_img{
            @include flex(1);
            img{
                width:0.8231rem;
                height:0.8231rem;
                margin:0.11719rem 0.11719rem 0.11719rem 0;
            }
        }
        .author_name{
            @include flex(3);
            padding-left:0.04rem;
            padding-top:0.14063rem;
        }
    }
    .gtip{
        padding:0 0.11719rem;
        overflow: hidden;
        header{
            height:0.20rem;
            margin:0.11rem 0;
        }
        .gtype{
            height:0.19rem;
            letter-spacing: 0.8px;
            margin-bottom: 0.23438rem;
            font-family: "冬青黑体","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
            .fr{
                color: #c70909;
            }
        }
        p{
            margin-bottom: 0.11719rem;
            letter-spacing: 0.8px;
            font-size: 14px;
            color: #333;
            font-family: "冬青黑体","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
        }
    }

    .trans_gap{
        height:0.58594rem;
        background: #f5f5f5;
        line-height: 0.703125rem;
        text-align: center;
        font-size: 0.164rem;

    }

    .hdgc{

        background:#fff;
        li.goods{
            border-bottom: 1px solid #ccc !important;
            width:3.51563rem;
            margin: 0 auto;
            &:last-child{
                border:none;
            }
            @include flexbox();
            @include flex-direction(column);
            .detail_list{
                @include flexbox();
                @include flex-direction(row);
                >div{
                    >span{
                        margin-top: 0.70313rem;
                    }
                }
                a{
                    @include flex(1);
                    @include flexbox();
                    height:100%;
                    .div123{
                        img{
                            width:0.98438rem;
                            height:0.98438rem;
                        }
                        padding:0.23438rem 0.11719rem 0 0.11719rem;
                    }
                    .div456{
                        @include flex(1);
                        .dgoodname{
                            height:0.21rem;
                            margin:0.11719rem 0;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            color:#333;
                            font-size: 0.164rem;

                        }
                        .goodattr{
                            height:0.38rem;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            color: #999;
                        }
                        .dgood_price{
                            width:100%;
                            height:0.19rem;
                            margin-top:0.23438rem;
                            letter-spacing: 0.8px;
                            font-size: 14px;
                            color: #333;
                        }
                    }
                }
            }
            .changed{
                margin-top: 0.17578rem;
                @include yo-btn (
                    $name:changeAbtn,
                    $border-width:1px,
                    $border-color:#aaa,
                    $bgcolor:#fff,
                    $color:#333,
                    $padding:0,
                    $width:1.17188rem,
                    $height:0.35156rem,
                    $font-size:0.164rem,
                    $radius:0.04rem
                ){
                    position: relative;
                    z-index:1;
                    margin-bottom: 0.11719rem;
                }
            }
        }
    }
    .logicOrder {
        position:fixed;
        bottom: 0;
        width:100%;
        height:0.89rem;

        z-index:20;
        >section{
        }
        >.pt{
            padding-left:0.11719rem ;
            height:0.35156rem;
            border-bottom:1px solid #ccc;
            p{
                color:#999;
                padding-right: 0.12891rem;
                line-height:0.35156rem;
                height:100%;
                b{
                    letter-spacing: 0.8px;
                    font-size: 14px;
                    color:#c70909;
                    font-weight:normal;
                    font-family: "冬青黑体","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
                }
            }
        }
        >.pb{
            @include flexbox();
            width:100%;
            >div{
                height:0.52734rem;
                text-align: center;
                line-height: 0.52734rem;
            }
            .checkall{
                @include flex(1);
                padding-left:0.11719rem ;
                text-align: left;
                span{

                    position: relative;
                    top:0.05rem;
                    margin-right: 0.05rem;
                }

            }
            .oserver{
                width: 1.02094rem;
                border-left:1px solid #ccc;
                height:0.35rem;
                line-height: 0.35rem;
                display:inline-block;
                margin:auto 0;
                text-align: left;
                .server_icon{
                    background: url("/home_img/server.png") no-repeat center center;
                    background-size:contain;
                    width:0.23438rem;
                    height:0.23438rem;
                    display: inline-block;
                    position: relative;
                    top:0.07rem;
                    margin:0 0.07rem 0 0.09rem;
                }
            }
            .order_it{
                width: 1.52344rem;
                background-color: #007846;
                color: #fff;
                font-size: 0.1734rem;
                letter-spacing: 1px;
            }
        }

    }
    .price_tip{
        letter-spacing: 0.8px;
        width:100%;
        height:2.31rem;
        background: #fff;
        margin-top: 0.1172rem;
        header{
            text-align: center;
            font-size: 0.164rem;
            padding:0.23438rem 0 0.17578rem 0;
        }
        p{
            margin:0 0.11719rem 0.11719rem 0.25781rem;
        }

    }
}
