@charset "utf-8";

#login_register{
            height: 100%;
            width:100%;
            background-color:#fff ;
            z-index: 999;
            position: absolute;
            top: 0;
            left: 0;
            .fr{
                width: 100%;
                height: .1rem;
                background-color: #f5f5f5; 
            }
            .clearfix:after {
                display: block;
                content: '';
                clear: both; 
            }
            .login_head{
                height:.5859rem;
                .close{
                    background: url('http://m.haozaishop.com/js_web/images/close.png') no-repeat;
                    background-size: 100%;
                    float: right;
                    width: .41rem;
                    height: .41rem;
                    margin-bottom: .175rem;
                }
            }
            
            .login_footer{
                height:.445rem;
            }
            input{
                margin-top: .4218rem;
                margin-left: .6562rem;
                height:.3615rem;
                width:2.5781rem;
                border: none;
                border-bottom: 1px solid #eee;
                background-color: rgba(0,0,0,0);
                font-size: .14rem; 
            }
            input::-webkit-input-placeholder {  
                color:#000; 
            } 
            .box_box{
                background-color: #808a87;
                text-align: center;
                color: #fff;
                border-radius: 8px;
                width: 70%;
                height: .5rem;
                line-height: .5rem;
                z-index: 99999;
                position:fixed;
                top:47%;
                left:15%;
                margin:0 auto;
            }
            #login{
                background: #fff;
                height: 100%;
                @include flexbox();
                @include flex-direction(column);
                position: relative;
                .center{
                    flex: 1;
                    background: url(/home_img/bg.png) no-repeat;
                    background-size: 100%;
                    .log{
                        text-align: center;
                        img{
                            height: .328rem;
                            width:auto;
                            vertical-align: middle;
                        }
                    }
                    .reset{
                        float: right;
                        margin-top: .117rem;
                        margin-right: .5859rem;
                        color: #5aa85a;
                    }
                        .login{
                            background-color: #389c38;
                            text-align: center;
                            color: #fff;
                            margin: 0 auto;
                            border-radius: 5px;
                            width: 2.46rem;
                            height: .46875rem;
                            line-height: .46875rem;
                            margin-bottom: .29297rem;
                            margin-top:.26367rem;
                        }
                    .enroll{
                        text-align: center;
                        color: #389c38;
                    }
                    .or{
                        background: url('http://m.haozaishop.com/js_web/images/or.png') center no-repeat;
                        background-size: 100%;
                        width: 2.5781rem;
                        height: .88rem;
                        padding: .35rem 0 .2919rem .6093rem;
                        display: block;
                        margin: 0 auto;
                    }
                    .wx_login{
                        background-color: rgba(190,190,190,.7);
                        border-radius: 5px;
                        width: 2.46rem;
                        height: .41rem;
                        margin-left: .6679rem;
                        margin: 0 auto;
                        .wx_ico{
                            background: url('http://m.haozaishop.com/js_web/images/wx.png') no-repeat;
                            background-size: 100%;
                            float: left;
                            width: .41rem;
                            height: .41rem;
                            margin: .02rem .49rem 0 .087rem;
                        }
                        span{
                            color: #fff;
                            float: left;
                            line-height: .41rem;
                        } 
                    }  
                }
            }
            #register{
                background: #fff;
                height: 100%;
                @include flexbox();
                @include flex-direction(column);
                position: relative;
                .center{
                    flex: 1;
                    background: url('http://m.haozaishop.com/js_web/images/bg.png') no-repeat;
                    background-size: 100%;
                    .code{
                        float: left;
                        width:1.87rem;
                    }
                    #send_code{
                        color: #fff;
                        background-color: #3fb93f;
                        border-radius: 5px;
                        float: left;
                        text-align: center;
                        width: 1.0546rem;
                        height: .2812rem;
                        margin-left: .10rem;
                        line-height: .2812rem;
                        margin-top: .46rem;
                    }
                   .reg{
                        text-align: center;
                        color: #fff;
                        background-color: #3fb93f;
                        border-radius: 5px;
                        width: 2.578rem;
                        height: .4687rem;
                        line-height:.4687rem;
                        margin: .82rem 0 .3632rem .6738rem;
                    } 
                }
            
            } 
            
            
            
            
            
        }